<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>Setting_UploadImage</string>
		<key>titleId</key>
		<integer>0</integer>
		<key>title</key>
		<string>上传多图</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>1</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>2</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>3</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>4</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>5</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>6</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>7</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>8</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>9</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>10</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>11</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>12</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>13</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>14</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>15</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>16</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>titleId</key>
		<integer>17</integer>
		<key>title</key>
		<string>设置</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>Setting_share</string>
		<key>titleId</key>
		<integer>18</integer>
		<key>title</key>
		<string>分享</string>
	</dict>
	<dict>
		<key>titleId</key>
		<integer>19</integer>
		<key>icon</key>
		<string>Setting_setting</string>
		<key>title</key>
		<string>设置</string>
	</dict>
</array>
</plist>
